<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.familytree">

    <application
        android:name=".FamilyTreeApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FamilyTree"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FamilyTree">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- 成员详情页 -->
        <activity
            android:name=".ui.member.MemberDetailActivity"
            android:exported="false" />
            
        <!-- 家谱树页 -->
        <activity
            android:name=".ui.familytree.FamilyTreeActivity"
            android:exported="false" />
            
        <!-- 故事列表页 -->
        <activity
            android:name=".ui.story.FamilyStoryActivity"
            android:exported="false" />
            
        <!-- 故事详情页 -->
        <activity
            android:name=".ui.story.StoryDetailActivity"
            android:exported="false" />
            
        <!-- 活动列表页 -->
        <activity
            android:name=".ui.activity.FamilyActivityActivity"
            android:exported="false" />
            
        <!-- 活动详情页 -->
        <activity
            android:name=".ui.activity.ActivityDetailActivity"
            android:exported="false" />
            
    </application>

</manifest>